body {
    background-color: #2A0134;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}
.pill-nav a {
    display: inline-block;
    color: #e4dae6;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
    margin:
}
.pill-nav a.active {
    background-color: #082473;
    color: #e4dae6;
}
.pill-nav a:hover {
    background-color:  #082473;
    color: #e4dae6;
}
p {
    font-size: 160%;
    text-align: center;
}
b {
    font-size: 200%;
    font-family:verdana;
}
z{
    font-size: 130%;
    color: #F70000;
}
.container {
    position: relative;
    overflow: hidden;
    width: 70%;
    left: 10%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

  .responsive-iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 70%;
    height: 70%;
  }
  .box {
    position: relative;
    overflow: auto;
    border-width:15px;
    border-style:solid;
    border-color:#0B629882;
    width:80%;
  }
  .round-button-circle {
    position: relative;
    bottom: 100%;
    right: 30%;
    padding: 10px;
    border-radius: 100%;
    border: 4px solid #98a1a4;
    overflow: visible;
    background: transparent; /* Change it to transparent */
    /* remove background-opacity */
    box-shadow: 0 0 3px gray;
    text-align: center;
  }
  .round-button-circle:hover {
    background-color: red;
  }
  .round-button-circle:active {
    background-color: green;
  }
  .Questions{
    font-size: 160%;
    text-align: center;
  }
  span{
    position: absolute;
    color: red;
    /*left: 170%;
    bottom: -60%;*/
    font-size: 30px;
    margin: -23px 0px 0px 20px;
    white-space: nowrap;
  }
  .calculate{
    background-color:#0B629882;
    color:white;
    font-size: 50px;
    border: none;
    border-radius: 5%;
  }
  .calculate:hover {
    background-color:white;
    color:white;
    font-size: 50px;
    border: none;
  }

